#root {
  width: 100%;
  height: 100vh;
  background-image: url('/Hero-Background-notecode@2x.png');
  background-repeat: no-repeat;
  background-size: 100% auto;

  display: flex;
  justify-content: center;
  align-items: center;

}

body {
  margin: 0;
  min-height: 100dvh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'outfit-semibold';
  background: linear-gradient(to bottom right, rgba(183, 135, 245, 1), rgba(116, 62, 228, 1));
}

main {
  width: 100%;

  h1,
  h2 {
    text-align: center;

  }
}

.editor {
  width: 90%;
  margin-inline: auto;
  max-width: 56.25rem;
  height: 50rem;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}