body {
  min-height: 100vh;
  font-family: 'outfit-semibold';
  background: linear-gradient(to bottom right, rgba(183, 135, 245, 1), rgba(116, 62, 228, 1));
}

#root {
  width: 100%;
  height: 100vh;
  background-image: url('/Hero-Background-notecode@2x.png');
  background-repeat: no-repeat;
  background-size: 100% auto;

  display: flex;
  justify-content: center;
  align-items: center;

}

main {
  width: 100%;

  h1,
  h2 {
    text-align: center;

  }
}

.editor {
  width: 90%;
  margin-inline: auto;
  max-width: 56.25rem;
  height: 50rem;
}